{% extends 'main.html' %}

{% block content %}
<h1>{{event.name}}</h1>
    <section>
        <h2>Description</h2>
        {% if registered %}
            <p>You're registered to {{event.name}}</p>
        {% else %}
            <a href="{% url 'confirm' event.id %}">Register</a>
        {% endif %}
            <a href="{% url 'submission' event.id %}">Submit</a>
                <p>{{event.description}}</p>
            <h2>Date Created</h2>
                <p>{{event.date}}</p>
            <div>
                <h3>Participants</h3>
                <div>
                    {% for user in event.participants.all %}
                    <div>
                        <strong>{{user.name}}</strong>
                    </div>
                    {% endfor %}
                </div>
            </div>
    </section>
{% endblock content%}